<h1>Index /Tweets </h1>

<%@tweets.each do |show_tweet|%>
<p><b>Tweet ID: </b> <%=show_tweet["_id"]%>, <b>Tweet text: </b> <%=show_tweet["text"] %>, <b>Tweet Positivity Score: </b><%=show_tweet["sentiment"]%> </p>
<br/><br/>
<% end %>

<footer>
<p><b>Current Tweet Count: 
    <%= Tweet.count %>
</b>    
</p>
<%= link_to "Go to Search", tweets_path %>
</footer>